@font-face {
    font-family: "SF Pro Display";
    src: url('../fonts/SF-Pro-Display-Light.otf');
}

.anchor-pane {
    -fx-background-color: #4c4c4c;
    -fx-font-family: 'SF Pro Display';
}

.button {
    -fx-font-size: 19px;
}

.leftButton {
    -fx-background-color: #d6d6d6;

    -fx-border-width: 1;
    -fx-border-color: #4c4c4c;
    -fx-background-radius: 0;
}

.leftButton:hover {
    -fx-background-color: #b6b6b6;
}

.rightButton {
    -fx-background-color: #f5923d;
    -fx-border-width: 1;
    -fx-border-color: #4c4c4c;
    -fx-background-radius: 0;
}

.rightButton:hover {
    -fx-background-color: #c76b1d;
}

.operationLabel {
    -fx-background-color: #4c4c4c;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15;
    -fx-padding: 0 5 0 0;
}

.resultLabel {
    -fx-background-color: #4c4c4c;
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-padding: 0 5 0 0;
}